<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cana </title>
</head>
<body>
    
    <% if(idade < 18){ %>
    <h2 styles="='color: blue"> Menor de idade vai para fundaçaõ casa</h2>
    <% }else{ %>
    <h2 styles= 'color: red'> Maior de idade é sol quadrado!</h2>
        <% } %>   
        
</body>
</html>